extends layout

block content
    link(rel='stylesheet', href='/stylesheets/jquery.tagsinput.css')
    script(src='/javascripts/jquery.tagsinput.js')
    .container
        .row
            .col-md-12
                label 
        .row
            .col-md-12
                form.form-inline(method='post', action='/gridTest/search')
                    .form-group
                        label Search words:&nbsp
                        input.form-control(name='id_searchText', type='text', placeholder='Search words...')
                        input.btn.btn-default(name='submit',type='submit',value='Search')
                        input.btn.btn-default(id='id_newPost', name='submit',type='button',value='New post')                       
        if test_cols
            .row
                .col-md-12
                    .table-responsive
                        table.table
                            thead
                                th #
                                th Contents
                                th Tags
                            tbody
                                each test_col, i in test_cols
                                    tr(onclick='itemClick(\'#{i}\', \'#{test_col._id}\')', style="cursor:pointer")
                                        td(id='col_index_#{i}') #{i+1}
                                        td(id='col_contents_#{i}') #{test_col.contents}
                                        td(id='col_tags_#{i}') 
                                            span.badge #{test_col.tags}
        form.form-inline(method='post', action='/gridTest/next')
            .form-group
                .row
                    .col-md-12
                        input.btn.btn-default(name='next',type='submit',value='Next...')                                            
                        input(id='id_page_no', name='page_no', type='text', style='visibility: hidden', value='#{pageNo}')
        br
        form.form-inline(method='post', action='/gridTest/save')
            .form-group
                .row(id='id_editComp')
                    .col-md-12
                        label Contents
                        input.form-control(id='id_sel_contents', name='sel_contents', type='text')
                    .col-md-12        
                        label Tags        
                        input.form-control(id='id_sel_tags', name='sel_tags', type='text')
                    .col-md-12
                        input.btn.btn-default(name='submit',type='submit',value='Save')
                        input.btn.btn-default(id='cancel', name='submit',type='button',value='Cancel')
                        input.form-control(id='id_sel_id', name='sel_id', type='text', style='visibility: hidden')
    
    script(src='/javascripts/gridTest.js')